* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  height: 100vh;
  width: 80%;
  margin: 0 auto;
  background: rosybrown;
  display: flex;
  /* flex-direction: column-reverse; */
  /* flex-wrap: wrap; */
  flex-flow: row wrap;
  justify-content: space-between;
  /* align-items: flex-end; */
}
.box1 {
  height: 100px;
  order: 3;
}
.box2 {
  height: 300px;
  order: 5;
}
.box3 {
  height: 250px;
  order: 1;
}
.box4 {
  height: 300px;
  order: 2;
}
.box5 {
  width: 100px;
  height: 300px;
  order: 4;
}
.box {
  background: royalblue;
  border: 1px solid black;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
