* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  position: absolute;
  width: 1905px;
  height: 1080px;
  background-color: #fff;
}
.group {
  background: #ffffff;
  box-shadow: 0px 0px 4px 5px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  width: 321px;
  height: 454px;
  float: left;
}
.group1 {
  position: relative;
}
.group4 {
  position: relative;
}
.group6 {
  clear: both;
}
.group7 {
  position: relative;
}
.group8 {
  position: relative;
}
img {
  width: 321px;
  height: 250px;
  margin: 4px 0 0 0;
}

.group1,
.group2,
.group3,
.group4,
.group5 {
  margin: 51px 0 0 50px;
}
.group6,
.group7,
.group8,
.group9,
.group10 {
  margin: 84px 0 45px 50px;
}
.ball1,
.ball2,
.ball3,
.ball4,
.ball5 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-style: normal;
  font-weight: bold;
  color: #ffffff;
  position: absolute;
  font-family: Roboto;
  margin: 8px 12px 192px 258px;
}
.ball1,
.ball4,
.ball5 {
  background: #fa5401;
}
.ball2,
.ball3 {
  background: #fa2e01;
  float: right;
}
.special {
  text-align: center;
}
.Name {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  margin: 19px 0 0 17px;
}
.Name2,
.color {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  color: #aeaeae;
  margin: 13px 0 0 18px;
}
.price {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  color: #fa2e01;
  margin: 23px 0 0 18px;
  float: left;
}
.price2,
.extra {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  margin: 23px 0 0 18px;
}
.line {
  text-decoration: line-through;
}
